,.card.img
{
width:100%;
height:100%;
}
#card
{
 display:none;
}
.cols
{
	padding-left:"10%"
}
.vals
{
	font-size: 3em;
	font-style: italic;
	padding-right:"50%"
}
#intelligence,#speed,#power,#strength,#combat,#durability
{
width: 100%;
background-color: green;
color: white;
padding-left: 20px;
}
